<div class="personal-info-wrapper">

    <ul class="list-group">
      <li class="list-group-item list-group-item-warning"><strong>學程</strong></li>
      <% @target_courses.each do |t| %>
      <li class="list-group-item"> <%= radio_button_tag(:education_level_id, t.id, false, data: {remote: true, url: filter_by_level_courses_path}) %> <%= t.title %></li>
      <% end %>
    </ul>

    <ul class="list-group subject-list">
      
    </ul>

</div>
