<div class="pb-course-wrapper pb-container">

  <h2 class="course-title">圓與圓的關係</h2>

  <div class="course-video-wrapper">
    <%= youtube_embed(@video_url) %>
  </div>

  <div class="course-options">
    <div class="button">
      <a href="" class="btn">顯示講義</a>
    </div>
    <div class="button">
      <a href="" class="btn">選擇理解度</a>
    </div>
  </div>

</div>
