<div class="pb-index-wrapper pb-container">

  <div class="index-info-col">
    <!-- 個人資料 -->
    <%= render partial: 'partials/personal_info' %>

    <!-- 技能列表 -->
    <div class="skill-list-title-wrapper">
      <span>技能列表</span>
    </div>
  </div>

  <div class="index-courses-col">
    2
  </div>

</div>
