<div class="pb-index-wrapper pb-container">

  <div class="index-info-col">
    <!-- 個人資料 -->
    <%= render partial: 'partials/personal_info' %>

    <!-- 技能列表 -->
    <div class="skill-list-title-wrapper">
      <span>技能列表</span>
    </div>
    <div class="skill-list-content-wrapper">
      <% @skills.each do |skill| %>
        <section>
          <h4><%= skill[:title] %></h4>
          <ul>
            <% skill[:learned].each do |item| %>
            <li><%= item %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </div>
  </div>

  <div class="index-courses-col">
    2
  </div>

</div>
