<div class="pb-index-wrapper pb-container">

  <div class="index-info-col">
    <!-- 個人資料 -->
    <%= render partial: 'partials/personal_info' %>

    <!-- 技能列表 -->
    <%= render partial: 'partials/personal_skill_list' %>
  </div>

  <div class="index-courses-col">
    <div class="courses-path-wrapper">
      <div class="courses-path-inner">

      </div>
    </div>
  </div>

</div>
