<div class="pb-index-wrapper pb-container">

  <div class="index-info-col">
    <!-- 個人資料 -->
    <%= render partial: 'partials/personal_info' %>

    <!-- 技能列表 -->
    <%= render partial: 'partials/personal_skill_list' %>
  </div>

  <div class="index-courses-col">
    <!-- 課程關卡路線 -->
    <%= render partial: 'partials/courses_path' %>
  </div>

</div>

<%= content_for :handwrite_js do %>
  <script>
    pumpBox.coursesPathDescriptionOverlayWindowFunction();
  </script>
<% end %>
