<div class="pb-result-wrapper pb-container">

  <section class="test-unit">
    <h3>第 1 題</h3>
    <div class="quiz-wrapper maru">
      <%= image_tag 'quiz006.jpg', class: 'quiz-img' %>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 2 題</h3>
    <div class="quiz-wrapper maru">
      <%= image_tag 'quiz007.jpg', class: 'quiz-img' %>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 3 題</h3>
    <div class="quiz-wrapper maru">
      <%= image_tag 'quiz008.jpg', class: 'quiz-img' %>
    </div>
  </section>

</div>

<%= content_for :handwrite_js do %>

<% end %>
