<div class="pb-test-wrapper pb-container">

  <h2 class="test-title">提公因式法 [自我挑戰]</h2>

  <section class="test-unit">
    <h3>第 1 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'quiz001.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
      <a href="#" class="option">E</a>
      <a href="#" class="option">F</a>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 2 題</h3>
    <div class="quiz-wrapper">
      <%= image_tag 'quiz002.jpg', class: 'quiz-img' %>
    </div>
    <div class="options-wrapper">
      <a href="#" class="option">A</a>
      <a href="#" class="option">B</a>
      <a href="#" class="option">C</a>
      <a href="#" class="option">D</a>
      <a href="#" class="option">E</a>
      <a href="#" class="option">F</a>
    </div>
  </section>

  <div class="test-options-wrapper">
    <a href="#" class="submit">送出答案</a>
  </div>
</div>
