.pb-index-wrapper
  @extend %section-wrapper

  .index-info-col
    +span(5)
    padding: 0 1em
  .index-courses-col
    +span(7)
    padding-left: 1em
    padding-right: 1em
    border-left: 1px solid lighten($c-grey, 30)
    min-height: 80vh
  .skill-list-title-wrapper
    margin-top: 25px
    padding: 5px 0
    background-color: $c-orange
    text-align: center
    color: $c-white
    font-size: $fz-l
  .skill-list-content-wrapper
    border-left: 5px solid $c-orange
    padding-top: 2em
    section
      margin-bottom: 2em
      h4
        background-color: rgba($c-grey, .3)
        padding: .2em
        margin: 0
        margin-bottom: .5em
        text-align: center
      ul
        padding: 0
        padding-left: 1em
        list-style: none
        li
          margin-bottom: .5em
          &:last-child
            margin-bottom: 0


.personal-info-wrapper
  +pie-clearfix
  .avatar-wrapper
    +span(4)
    .avatar
      max-width: 100%
      border: 5px solid $c-white
      +box-shadow($c-grey 0 0 5px)
  .detail-wrapper
    +span(8)
    padding-left: 1em
    .username
      margin: 0
      margin-bottom: .5em
      font-weight: bolder
      padding-bottom: .2em
      border-bottom: 1px solid $c-grey
    p
      font-size: $fz-l
