<h1> Search result </h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>名稱</th>
      <th>考題</th>
      <th>考題數量 </th>
      <th> 關鍵字 </th>
      <th> 選擇加入</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_paper_questions.each do |test| %>
      <tr>
        <td><%= test.id %></td>
        <td><%= test.question.url %></td>
        <td> </td>
        <td><%= test.tag_list %></td>
        <td> <i class="fa fa-plus"></i><%= link_to("加入", add_test_path(@customized_concept, test.id) ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>