<div class="pb-index-wrapper pb-container">
  <div class="row">
    <%= form_tag('/search_test', method: :get, remote: true) do %>
    <div class="col-xs-6 col-md-4">
        <%= hidden_field_tag(:customized_concept_id, @customized_concept.id, as: :hidden)  %>
        <%= text_field_tag(:keyword, nil, class: "form-control", placeholder: '請輸入關鍵字 ex: 數學.. 國中..')%>
    </div>
    <div class="col-xs-6 col-md-4"><%= submit_tag 'Search', class: "btn btn-default"  %></div>
    <% end %>
  </div>
  <div class="test-search-result">
  </div>

</div>

          

          
        