<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1" class=""></li>
    <li data-target="#bs-carousel" data-slide-to="2" class=""></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>零成本開始你的教學事業</h1>        
            <h3>Get start your next awesome project</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">建立課程</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>補救教學自動化，讓學生成績在兩周內迅速提升的致勝法寶</h1>        
            <h3>Get start your next awesome project</h3>
        </hgroup>       
        <button class="btn btn-hero btn-lg" role="button">建立課程</button>
      </div>
    </div>
    <div class="item slides active">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>只能補習嗎？</h1>        
            <h3>我們提供更有效率的個人化學習方式，讓最優秀的老師幫助您的孩子輕鬆掌握學習</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">加入課程</button>
      </div>
    </div>
  </div> 
</div>

