<div class="pb-result-wrapper pb-container">

  <h2 class="test-title">提公因式法 [自我挑戰]</h2>

  <section class="test-unit">
    <h3>第 1 題</h3>
    <div class="quiz-wrapper maru">
      <%= image_tag 'quiz001.jpg', class: 'quiz-img' %>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 2 題</h3>
    <div class="quiz-wrapper maru">
      <%= image_tag 'quiz002.jpg', class: 'quiz-img' %>
    </div>
  </section>

</div>

<%= content_for :handwrite_js do %>

<% end %>
