<div class="pb-result-wrapper pb-container">

  <section class="test-unit">
    <h3>第 1 題</h3>
    <div class="quiz-wrapper batsu">
      <%= image_tag 'quiz003.jpg', class: 'quiz-img' %>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 2 題</h3>
    <div class="quiz-wrapper batsu">
      <%= image_tag 'quiz004.jpg', class: 'quiz-img' %>
    </div>
  </section>

  <section class="test-unit">
    <h3>第 3 題</h3>
    <div class="quiz-wrapper batsu">
      <%= image_tag 'quiz005.jpg', class: 'quiz-img' %>
    </div>
  </section>

</div>

<%= content_for :handwrite_js do %>

<% end %>
