



<div class="pb-index-wrapper pb-container">
  <!-- Back Link -->
  <div class="row">
    <div class="col-md-2">
      <%=link_to authenticated_root_path do %> 
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 教師首頁
      <% end %>
    </div>
  </div>
  <!-- End Back Link -->
  
  <div class="col-md-offset-5 col-md-4">
    <h1>建立群組</h1>  
  </div>
  <%= render 'form' %>

</div>

