<p class="options"> 
<div class="checkbox">
<%= f.collection_radio_buttons(:answer, SelectOption.all, :number, :label) do |b|%>
    <%= b.label() { b.radio_button+b.text } %>
<% end %>
</div>
</p>
<%= f.input :question_number, input_html: { value: f.index.to_i+1}, as: :hidden %>

