

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">勾選影片</h4>
      </div>
      <div class="modal-body">
        <% (1..2).each do |a| %>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="course-video-wrapper">
                <%= youtube_embed("https://www.youtube.com/watch?v=AlFRvLretSg") %>
              </div>
              <div class="caption">
                <h3>因數與倍數</h3>
                <p>在數線上標出非整數點. 整數的加法運算. 從數線上來看整數的加法</p>
                <p><a href="#" class="btn btn-primary button_num_<%=a %>" role="button">加入</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="course-video-wrapper">
                <%= youtube_embed("https://www.youtube.com/watch?v=AlFRvLretSg") %>
              </div>
              <div class="caption">
                <h3>因數與倍數</h3>
                <p>在數線上標出非整數點. 整數的加法運算. 從數線上來看整數的加法</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="course-video-wrapper">
                <%= youtube_embed("https://www.youtube.com/watch?v=AlFRvLretSg") %>
              </div>
              <div class="caption">
                <h3>因數與倍數</h3>
                <p>在數線上標出非整數點. 整數的加法運算. 從數線上來看整數的加法</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>