<div class="pb-index-wrapper pb-container">
<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> <%= link_to "Back", :back %>
<h1>Editing Customized Concept</h1>

<%= render 'form' %>


</div>
