<div class="pb-index-wrapper pb-container">
<h1>Editing Customized Concept</h1>

<%= render 'form' %>

<%= link_to 'Show', @customized_concept %> |
<%= link_to 'Back', customized_concepts_path %>
</div>
