<div class="pb-index-wrapper pb-container">
  <h1>New Customized Concept</h1>

  <%= render 'form' %>

  <button type="button" class="btn btn-default"><%= link_to 'Back', course_customized_concepts_path(@course) %></button>
</div>

