<div class="pb-index-wrapper pb-container">
  <div class="row">
    <h1> <%= @vin %> </h1>
    <% if @tests.count != 0 %>
      <%= render 'test_attemp_detail' %>
    <% else %>
      <%= render 'test_paper_detail' %>
    <% end %>
  </div>
</div>