<% if current_user.has_role? :student %>
  <% if @group%>
    <%=link_to teacher_group_path(@group.teacher_id, @group) do %> 
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 群組首頁
    <% end %>
  <% else %>
    <%=link_to root_path do %> 
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 學生首頁
    <% end %>
  <% end %>
<!-- Teacher Back Link-->
<% else %> 
  <% if @group%>
    <%=link_to teacher_group_path(@group.teacher_id, @group) do %> 
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 群組首頁
    <% end %>
  <% else %>
    <%=link_to root_path do %> 
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 教師首頁
    <% end %>
  <% end %>
<% end %>