
      <table class="table table-striped table-hover .table-bordered", id="report">
        <thead>
          <tr>
            <th>學生</th>
            <% @concepts.each do |c| %>
              <th> <%= c.title %>
                <% if c.tests.count != 0 || c.test_paper_questions.count != 0 %>
                  <i class="fa fa-file-text-o"></i>
                <% end %>
              </th> 
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @students.each do |student| %>
          <tr>
            <td> <%= student.username %></td>
            <% @concepts.each do |concept| %>
							<td>  
								<%= show_retry_time(concept, student.user_id) %>
							</td>
            <% end %>
          <tr>
          <% end %>
        </tbody>
      </table>
      
    

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
    // $('#report td:even').css({ backgroundColor: "#5cb85c", color: "white" });
    
    $('#report td').each(function(){
      var n = $(this).text();
      // one time pass
      if (n == 1){ 
        $(this).css({ backgroundColor: "#5cb85c", color: "white" });
      }
      // over two time pass
      if (n >= 2){ 
        $(this).css({ backgroundColor: "#d9534f", color: "white" });
      }
    });

  });
</script>



