<div class="pb-index-wrapper pb-container">
  <%= link_to teacher_group_path(@teacher, @group) do %>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 群組首頁
  <% end %>

  <div class="col-md-offset-5 col-md-4">
    <h1>建立群組課程</h1>
  </div>

  <%= render 'form' %>

</div>
